.border{
        border: 1px solid #dee2e6!important;
    margin-top: 2%;
    text-align: center;
}

.inputTextBox{

}

.validationError{
    margin: auto !important;
}

.loginbtn{
        width: 100px !important;
}